<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="HeaderTitle" value="Faculative ReInsurance" />
    <add key="MainTitle" value="Welcome To Faculative ReInsurance" />
    <add key="TabItem1Title" value="General Information" />
    <add key="TabItem2Title" value="Coverage Section" />
    <add key="TabItem3Title" value="Extensions" />
    <add key="TabItem4Title" value="Policy Information" />
    <add key="TabItem5Title" value="Attachments" />
    <add key="GeneralHeader" value="General Information" />
    <!--max size in to Bytes-->
    <add key="AttachmentMaxFileSize" value="" />
  </appSettings>
  <connectionStrings>
    <add name="oleConnection" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=E:\Projects\resume\FACULTATIVE REINSURANCE\DataBase\fvreinsurance.accdb" providerName="System.Data.OleDb" />
  </connectionStrings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>